{% extends 'base.html' %}


{% block onichan %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tamaño más demandados</title>
</head>
<body>
    <h1>Gráfica de los tamaños seleccionados con mayor frecuencia</h1>
    <div style="width: 400px; height: 400px;">
        <canvas id="myChart"></canvas>
    </div>
      
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
    
    <script>
    
        document.addEventListener("DOMContentLoaded", function() {
            const data = {
                labels: {{labels|safe}},
                datasets: [{
                    label: 'My First Dataset',
                    data: {{data|safe}},
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)',
                        'rgb(176, 255, 255)'
                    ],
                    hoverOffset: 4
                }]
            };

            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            position: 'bottom'
                        }
                    }
                }
            });
        });
    </script>
    
</body>
</html>
{% endblock %}